---
---

<section class="mt-1">
    <div class="flex justify-center items-center gap-[80px] max-[768px]:flex-col">
        <div class="text-center relative">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Power.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-sm">
                        Power
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, Cheddar x2, Huevo y Panceta
                    </h3>
                    <p class="text-sm">
                        Simple: $4600 | Doble: $5800 | Triple: $7000
                    </p> 
                </div>
            </div>
        </div>
        <div class="text-center">
            <h2 class="text-white font-bold text-2xl opacity-75">
                Tromen
            </h2>
            <div class="w-[320px] h-[230px]">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Tromen.webp" alt="">
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center gap-[80px] mt-5 max-[768px]:flex-col">
        <div class="text-center">
            <h2 class="text-white font-bold text-2xl opacity-75">
                Falkner
            </h2>
            <div class="w-[320px] h-[230px]">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Falkner.webp" alt="">
            </div>
        </div>
        <div class="text-center">
            <h2 class="text-white font-bold text-2xl opacity-75">
                Cheese B.
            </h2>
            <div class="w-[320px] h-[230px]">
                <img class="rounded-[24px] w-full h-full object-cover" src="./CheeseB.webp" alt="">
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center gap-[80px] mt-5 max-[768px]:flex-col">
        <div class="text-center">
            <h2 class="text-white font-bold text-2xl opacity-75">
                Lacar
            </h2>
            <div class="w-[320px] h-[230px]">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Lacar.webp" alt="">
        </div>
        </div>
        <div class="text-center">
            <h2 class="text-white font-bold text-2xl opacity-75">
                Dijon
            </h2>
            <div class="w-[320px] h-[230px]">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Dijon.webp" alt="">
        </div>
    </div>
</section>

<style>

</style>