---
import Layout from "../layouts/Layout.astro"
---

<header>
    <div class="flex justify-center items-center mt-6">
        <nav class="text-white font-semibold">
            <a class="mr-3 hover:text-stone-950 duration-300" href="">Nosotros</a>
            <a class="mr-3 hover:text-stone-950 duration-300" href="">Hamburguesas</a>
            <a class="hover:text-stone-950 duration-300" href="">Contacto</a>
        </nav>
    </div>
</header>

<style is:inline>

</style>